﻿@model ControlWork6.Models.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление клиента</h2>

<h3>Вы уверены что хотите удалить клиента?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Контакты
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
