﻿@model ControlWork6.Models.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Просмотр</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
           Контакт
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Сохранить</a> |
    <a asp-action="Index">Назадt</a>
</div>
