﻿@model ControlWork6.Models.Client

@{
    ViewData["Title"] = "Результат поиска";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Результат поиска</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
           Контакты
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
