﻿@using ControlWork6.Models
@model ControlWork6.Models.Food

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Добавить блюдо";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить блюдо</h2>


<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Название</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Цена</label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Описание</label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label class="control-label">Заведение</label>
                <select asp-for="RestauranId" required class="form-control">
                    <option selected="selected" disabled="disabled">Выберите заведение</option>
                    @foreach (Restaurant item in @ViewBag.RestauranName)
                    {

                        <option value="@item.Id" >@item.Name</option>

                    }
                </select>



            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}