﻿@using ControlWork6.Models
@model ControlWork6.Models.Order
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Оформление заказа</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label class="control-label">Время заказа</label>
                <label name="Date" class="form-control">@DateTime.Now</label>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Блюдо</label>
               
                <select asp-for="FoodId" required class="form-control">
                    <option selected="selected" disabled="disabled">Выберите блюдо</option>
                    @foreach (Food item in @ViewBag.FoodName)
                    {

                        <option value="@item.Id">@item.Name</option>

                    }
                </select>
                

            </div>
            <div class="form-group">

                <label class="control-label">Клиент</label>
                
                <select asp-for="ClientId" required class="form-control">
                    <option selected="selected" disabled="disabled">Выберите клиента</option>
                    @foreach (Client item in @ViewBag.ClientName)
                    {

                        <option value="@item.Id">@item.Name</option>

                    }
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Заказать" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}