﻿@model ControlWork6.Models.Order
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить заказ</h2>

<h3>Вы уверены что хотите удалить заказ?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Оформлен
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
           Блюдо
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Food.Name)
        </dd>
        <dt>
            Клиентом
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Да, Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
